*{
	margin: 0;
	padding: 0;
}
.checked {
  color: orange;
}
element.style {
    display: block;
}
.leftArrow {
    position: absolute;
    left: -5%;
    bottom: 38%;
    z-index: 1;
    height: 5rem;
    width: 3rem;
    cursor: pointer;
}

element.style {
    position: relative;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul {
  background: #ff9999;
  padding: 20px;
  
}
nav{
	background-color: black;
	color:magenta;	
}
ul li {
  background: #ffe5e5;
  padding: 5px;
   display: inline-block;
width: 190px;
  border:2px solid #FFFFFF;
	border-radius:8px;
	box-shadow:0 0 15px ;
	 margin-left: 46px;
}


 .fixed-header{
        width: 100%;
        position: fixed;        
        background: #FFC0CB;
        padding: 0px 0 ;
    }
   
	 .container{
        width: 100%;
        /* Center the DIV horizontally */
    }
ul li a:visited {
   color: #8B008B;
   text-decoration: none;
   font-weight: bold;
   
}
 h1{
	color: purple;
	font-size: 80px;
	text-shadow: 2px 2px 5px #FF1493;

}
a:hover {
   color: rgb(0, 96, 255);
   padding-bottom: 1px;
   font-weight: bold;
   text-decoration: underline;
}
 fieldset { 
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 1.85em;
  padding-right: 0.75em;
  
  	border:2px solid #FFFFFF;
	border-radius:18px;
	box-shadow:0 0 15px ;
}

li a:hover {
   display: block;
   color: rgb(0, 96, 255);
   padding-bottom: 2px;
   font-weight: bold;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #C6EC8C;
}
 
a:active {
   color: rgb(0, 0, 102);
   font-weight: bold;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
#more {display: none;}
#moree {display: none;}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
pre{
	font : bold;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
input[type=date] {
  border: 2px solid magenta;
  border-radius: 4px;
}
input[type=button] {
  background-color: #f44336;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  

}
button {
	background-color: black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Page content */
